
/*.bar:hover {
  fill: yellow;
  opacity: 0.3;
}*/


.axis text {
  font: 12px sans-serif;
  fill: #4F4F4F;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.feature path,
.axis.feature line {
  fill: none;
  display: none;
  stroke: none;
}


.x.axis path {
  display: none;
}

.leg-axis path,
.leg-axis tick,
.leg-axis line {
    display: none;
    fill: none;
  	stroke: none;
  }


/*button {
    margin: 0 7px 0 0;
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;

    font-size: 12px;
    line-height: 130%;
    text-decoration: none;
    font-weight: bold;
    color: #565656;
    cursor: pointer;
}*/

.comment
{
    margin: 0px 10px 10px 10px;
}

.container
{
     text-align: left;
}
.left-div
{
     display: inline-block;
     /*max-width: 1000px;*/
     vertical-align: top;
}
.right-div
{
     display: inline-block;
     max-width: 150px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.legend {
  margin: 10px 10px 10px 10px;
}

.chb_countries {
  height: 500px;
  overflow:auto;
  margin: 0px 20px 10px 30px;

}

div.sorting {
  margin: 0px 20px 10px 30px;

}

div.tooltip {
    position: absolute;
    text-align: start;
    width: 160px;
    height: 70px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/*.chartTitle {
  font-family: Georgia, serif;

}*/


.chartTitle {
	      font-size: 2.3rem;
	      fill: #4F4F4F;
	      font-weight: 300;
	      text-anchor: middle;
        font-family: Georgia, serif;
	    }

.chartsubTitle {
  font-size: 1.3rem;
  fill: #AAAAAA;
  font-weight: 300;
  text-anchor: middle;
  font-family: Georgia, serif;
}

.country.label {
  font-family: Georgia, serif;
  fill: #4F4F4F;
  font-size: 1.8rem;
  font-weight: 300;
  text-anchor: middle;
}

.axisTitle {
  font-family: Georgia, serif;
  fill: #AAAAAA;
  font-weight: 300;
  font-size: 1.3rem;
}

.legendTitle {
  fill: #AAAAAA;
}

.right-btn {
    float: right;
}

.page-title {
  margin: 10px 0px 15px 10px;
  font-family: Georgia, serif;
}
